/******************************************************************************\

                  This file is part of the Folding@home Client.

          The fah-client runs Folding@home protein folding simulations.
                    Copyright (c) 2001-2024, foldingathome.org
                               All rights reserved.

       This program is free software; you can redistribute it and/or modify
       it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 3 of the License, or
                       (at your option) any later version.

         This program is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                   GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
           51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                  For information regarding this software email:
                                 Joseph Coffland
                          joseph@cauldrondevelopment.com

\******************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap')

body
  --mono-font courier

@import('dark.styl')
@import('light.styl')

body
  font-family Raleway, sans-serif

*
  box-sizing border-box

.fa
  font-size 130%

a
  text-decoration none

  &:visited, &:link
    color var(--link-color)

  &:hover
    text-decoration underline

a.fa
  &:visited, &:link
    text-decoration none
    color black

  &:hover
    text-decoration none

.header-title
  font-size 130%
  color var(--title-color)

.header-subtitle
  font-size 105%
  color var(--subtitle-color)

tt
  color var(--code-fg)
  background-color var(--code-bg)
  padding 0 0.25em
  font-family var(--mono-font)

input
  line-height 1.5em
  padding 0 0 0 0.5em

input, select
  color var(--body-fg)
  background-color var(--input-bg)
  border var(--input-border)
  border-radius var(--border-radius)

input:invalid
  outline none
  box-shadow 0 0 1px 2px #f44

@font-face
  font-family password
  src url('/fonts/password.woff2')

.password
  font-family password

body
  width 100%
  margin 0
  overflow-y scroll
  background var(--body-bg)

  #app
    display flex
    flex-direction column
    align-items center

body:not(.wide-view) .page-view
  max-width 60em

.page-view
  width calc(100% - 4px)
  display flex
  flex-direction column

  .view-body
    color var(--body-fg)
    padding 1em 0

fieldset
  margin 0 auto 1em auto
  padding 2em 1em
  align-items start
  border-radius var(--border-radius)

  &:last-child
    margin-bottom 0

  &.settings
    display flex
    flex-direction column
    gap 1em

    .setting
      width 100%
      display flex
      flex-direction row
      flex-wrap wrap
      gap 0.5em

      label
        @extends .header-subtitle

      > :first-child
        width 6em
        text-align right

      > :nth-child(2):not(input[type=checkbox])
        max-width 600px
        flex 1

      > input[type=checkbox]
        width 1em

      .setting-actions
        display flex
        flex-direction row
        gap 0.5em

        .button
          margin 0

  label
    white-space nowrap

  legend
    @extends .header-title

.dialog-body fieldset.settings .setting
  > :nth-child(2):not(input[type="checkbox"])
    width 20em
    flex none

.view-panel
  padding 0.5em 1em
  background var(--panel-bg)
  color var(--panel-fg)
  border var(--border)
  border-radius var(--border-radius)

.view-table
  border-collapse collapse

  tr:nth-child(odd)
    background var(--table-odd)

  tr:nth-child(even)
    background var(--table-even)

  th
    color var(--table-header-fg)
    background var(--table-header-bg)
    vertical-align top

  td, th
    text-align left
    border var(--table-border)
    padding 0.25em 0.5em
    white-space nowrap

    &.actions > div
      display flex
      gap 0.5em

      .button
        text-align center

  .no-data
    p
      text-align center
      margin 0.5em


@media (max-width 800px)
  body
    font-size 85%

  .view-panel
    padding 0.25em 0.5em

  .view-table
    td, th
      padding 0.125em 0.25em

  fieldset.settings .setting
    flex-direction column

    > :first-child
      width auto !important
      text-align left
