/******************************************************************************\

                  This file is part of the Folding@home Client.

          The fah-client runs Folding@home protein folding simulations.
                    Copyright (c) 2001-2026, foldingathome.org
                               All rights reserved.

       This program is free software; you can redistribute it and/or modify
       it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 3 of the License, or
                       (at your option) any later version.

         This program is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                   GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
           51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                  For information regarding this software email:
                                 Joseph Coffland
                          joseph@cauldrondevelopment.com

\******************************************************************************/

font-url = 'https://fonts.googleapis.com/css2?family=%s&display=swap'
@import url(s(font-url, Raleway))
@import url(s(font-url, Source Code Pro))


state_color(state, color)
  .state-{state}
    color color

    &.button, .progress-bar .progress
      background-color color


body
  --gap            1em
  --base-font      Raleway, sans-serif
  --mono-font      Source Code Pro, mono

  --progress-fg    #fff
  --progress-bg    #aaa
  --progress-bar   #444
  --progress-band  rgba(0, 0, 0, 0.15)
  --progress-img   linear-gradient(45deg, var(--progress-band) 25%, \
                     transparent 25%, transparent 50%, \
                     var(--progress-band) 50%, var(--progress-band) 75%, \
                     transparent 75%, transparent)

  font-family var(--base-font)

  state_color run      green
  state_color credited gold
  state_color pause    orange
  state_color finish   #00cc99
  state_color wait     var(--error-color)

body.theme-compact
  --gap 0.4em

@import('dark.styl')
@import('light.styl')

*
  box-sizing border-box
  padding 0
  margin 0

p
  margin calc(var(--gap) / 2) 0

h1, h2, h3, h4
  margin calc(var(--gap) / 2) 0

ul
  margin-left var(--gap)

.fa
  font-size 130%

a
  text-decoration none

  &:visited, &:link
    color var(--link-color)

  &:hover
    text-decoration underline

a.fa
  &:visited, &:link
    text-decoration none
    color black

  &:hover
    text-decoration none

.header-title
  font-size 130%
  color var(--title-color)

.header-subtitle
  font-size 105%
  color var(--subtitle-color)

tt
  color var(--code-fg)
  background-color var(--code-bg)
  padding 0 var(--gap)
  font-family var(--mono-font)

input, select
  line-height 1.5em
  padding 0 0 0 var(--gap)
  color var(--body-fg)
  background-color var(--input-bg)
  border var(--input-border)
  border-radius var(--border-radius)

input:invalid, input.error
  outline none
  box-shadow 0 0 1px 2px #f44

@font-face
  font-family password
  src url('/fonts/password.woff2')

.password
  font-family password

body
  width 100%
  padding 2px
  background var(--body-bg)
  display flex
  flex-direction column
  align-items center

  &:not(.fullscreen)
    overflow-y scroll

  #app
    display flex
    flex-direction column
    width 100%
    align-items center

.page-view
  display flex
  flex-direction column
  width 100%
  gap var(--gap)

  .view-body
    color var(--body-fg)
    display flex
    flex-direction column
    flex 1
    gap var(--gap)

  &.fixed-view
    height calc(100vh - 4px)
    overflow hidden

    .view-body
      overflow hidden

body:not(.theme-wide) .page-view
  max-width 60em

fieldset
  width 100%
  padding var(--gap)
  align-items start
  border-radius var(--border-radius)

  &.settings
    display flex
    flex-direction column
    gap var(--gap)

    .setting
      width 100%
      display flex
      flex-direction row
      flex-wrap wrap
      gap var(--gap)

      > label
        @extends .header-subtitle

      > :first-child
        width 6em
        text-align right

      > :nth-child(2):not(input[type=checkbox])
        flex 1

      > input[type=checkbox]
        width 1em

      .setting-actions
        display flex
        flex-direction row
        gap var(--gap)

  label
    white-space nowrap

  legend
    margin-left var(--gap)
    @extends .header-title

.dialog-body fieldset.settings .setting
  > :nth-child(2):not(input[type="checkbox"])
    width 20em
    flex none

.view-panel
  padding var(--gap)
  background var(--panel-bg)
  color var(--panel-fg)
  border var(--border)
  border-radius var(--border-radius)

.view-table
  border-collapse collapse
  width 100%

  tr:nth-child(odd)
    background var(--table-odd)

  tr:nth-child(even)
    background var(--table-even)

  th
    color var(--table-header-fg)
    background var(--table-header-bg)
    vertical-align top

  td
    font-family var(--mono-font)

  td, th
    text-align left
    border var(--table-border)
    padding calc(var(--gap) / 2) var(--gap)
    white-space nowrap

    &.actions > div
      display flex
      gap var(--gap)

      .button
        text-align center

  .no-data
    p
      text-align center
      margin var(--gap)


@media (max-width 800px)
  body
    font-size 85%

  fieldset.settings .setting
    flex-direction column

    > :first-child
      width auto !important
      text-align left
