/******************************************************************************\

                  This file is part of the Folding@home Client.

          The fah-client runs Folding@home protein folding simulations.
                    Copyright (c) 2001-2023, foldingathome.org
                               All rights reserved.

       This program is free software; you can redistribute it and/or modify
       it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 3 of the License, or
                       (at your option) any later version.

         This program is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                   GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
           51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                  For information regarding this software email:
                                 Joseph Coffland
                          joseph@cauldrondevelopment.com

\******************************************************************************/

:root
  --body-bg            #e7e7e7
  --body-fg            #000
  --input-bg           #fff
  --input-border-color #eee
  --link-color         #fe6215
  --link-alt           #55aaff
  --button-bg          #0b5ed7
  --button-fg          #fff
  --button-success     #4caf50
  --button-caution     #b51100
  --button-disabled-bg #aaa
  --button-disabled-fg #ddd
  --header-fg          #fff
  --header-bg          #383838
  --pacify-bg          rgba(0, 0, 0, 0.6)
  --overlay-bg         rgba(0, 0, 0, 0.4)
  --overlay-fg         #fff
  --border-color       #888
  --table-even         #fff
  --table-odd          #f3f3f3
  --panel-bg           #fff
  --error-color        #b00
  --success-color      #0b0
  --warn-color         #fb0
