link-color         = #fe6215
link-alt           = #55aaff
button-bg          = #0b5ed7
button-fg          = #fff
button-success     = #4caf50
button-disabled-bg = #aaa
button-disabled-fg = #ddd
header-fg          = #fff
header-bg          = #383838
body-fg            = #000
body-bg            = #e7e7e7
overlay-bg         = rgba(0, 0, 0, 0.4)
overlay-fg         = #fff
border-color       = #888
table-even         = #fff
table-odd          = #f3f3f3
panel-bg           = #fff
