#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.view {
    margin: 0px auto;
    padding: 1rem;
}

.navbar-toggler {
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 400;
}