/******************************************************************************\

                  This file is part of the Folding@home Client.

          The fah-client runs Folding@home protein folding simulations.
                    Copyright (c) 2001-2026, foldingathome.org
                               All rights reserved.

       This program is free software; you can redistribute it and/or modify
       it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 3 of the License, or
                       (at your option) any later version.

         This program is distributed in the hope that it will be useful,
          but WITHOUT ANY WARRANTY; without even the implied warranty of
          MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                   GNU General Public License for more details.

     You should have received a copy of the GNU General Public License along
     with this program; if not, write to the Free Software Foundation, Inc.,
           51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

                  For information regarding this software email:
                                 Joseph Coffland
                          joseph@cauldrondevelopment.com

\******************************************************************************/

body
  --highlight-color    #444
  --secondary-color    #888

  --error-color        #b51100
  --success-color      #4caf50
  --warn-color         #fb0

  --body-bg            #e7e7e7
  --body-fg            #333

  --header-fg          #333
  --header-bg          #fff

  --input-bg           #fff
  --input-border-color #eee
  --input-border       2px inset var(--input-border-color)

  --panel-bg           #fff
  --panel-fg           var(--body-fg)

  --link-color         #ee9322
  --link-alt           #55aaff

  --logo-color         var(--header-fg)

  --log-fg             var(--panel-fg)
  --log-bg             var(--panel-bg)

  --title-color        inherit
  --subtitle-color     var(--secondary-color)

  --button-bg          #0b5ed7
  --button-fg          #fff
  --button-icon-fg     #000
  --button-success     var(--success-color)
  --button-caution     var(--error-color)
  --button-disabled-bg #aaa
  --button-disabled-fg #ddd

  --pacify-bg          rgba(0, 0, 0, 0.6)

  --overlay-bg         rgba(0, 0, 0, 0.4)
  --overlay-fg         #fff

  --code-bg            #ddd
  --code-fg            #444

  --border-color       var(--panel-bg)

  --table-border-color #ddd
  --table-border       1px solid var(--table-border-color)
  --table-header-bg    #dedede
  --table-header-fg    #333
  --table-even         #fff
  --table-odd          #f3f3f3

  --shadow-color       #222
  --shadow             3px 3px 12px var(--shadow-color)

  --border-radius      0
  --border             0

  --disconnected-bg    #ddd
